body {
    background-color: #002841;
  }
  
  .container-1 {
    display: flex;
    flex-wrap: nowrap;
  
  }
  
  .image-1 {
    width: 20%;
    display: block;
    margin-left: 500px;
  }
  
  .image-2 {
    width: 100%;
    margin-top: -100px;
  }
  
  h7 {
    font-size: 30px;
    color: white;
    white-space: nowrap;
  }
  
  .title-1 {
    align-items: center;
  }